# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/RemoteSystemsTempFiles
/Servers
.metadata
.recommenders
somes.txt
/frontend/README.md
*.jar
/SimpleLogin/*/robots.txt
/SimpleLogin/*/*.html 
#|.jsp|*.ico|*.js|*.json|*.png|*.class]
/SimpleLogin/*/*.jsp
/SimpleLogin/*/*.ico 
/SimpleLogin/*/*.js 
/SimpleLogin/*/*.json
/SimpleLogin/*/*.png
/SimpleLogin/build/*
/SimpleLogin/WebContent/static
package-lock.json
/SimpleLogin/.settings
/SimpleLogin/.classpath
/SimpleLogin/.project